:root {
    --grid-rows: 16;
    --grid-cols: 16;
}

body {
    margin: 0;
}

.grid {
    --grid-rows: 16;
    --grid-cols: 16;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.hovered {
    background-color: #cc2727;
}